<div class="container">
    {{ isModal }}
    <div class="wrap" (click)="outslideClick($event)">
        <div class="modal-component">
            <div class="modal-head">
                <span class="head-title">Modal HEAD</span>
            </div>
            <div class="modal-body">
                <div class="body-content">
                    <div class="modal-titlebox">
                        <h1>Confirm Modal</h1>
                    </div>
                    <div class="modal-contentbox">
                        <p>컨테이너 박스가 있고 그 안에 

                            각각 가로값과 세로값이 다른 박스 아이템이 있습니다.
                            
                            위의 상태 그대로 라면 div의 기본속성은 display block이기 때문에 가로값과 관계없이 세로영역 만큼 한줄을 다 차지하기 때문에 
                            
                            div박스들은 아래와 같이 수직으로 떨어지게 됩니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-foot">
                <span class="modal-btn" id="confirm">확인</span>
                <span class="modal-btn" id="close">창닫기</span>
            </div>
        </div>
    </div>
</div>