<div class="modal" (click)="outslideClick($event)">
    <div class="modal-body">
        <header class="modal-head">
            <h1 class="title">결제</h1>
        </header>

        <div class="content">
            결제하시겠습니까?
        </div>

        <footer class="footer">
            <div class="float-right">
                <button type="button" (click)="closeModal()" class="btn btn-danger mr-10">취소</button>
                <button type="button" class="btn btn-primary">확인</button>
            </div>
        </footer>
    </div>
</div>